<a href="https://colab.research.google.com/github/FlamInIFabrIzIo/challenge1-data-science-latam/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [5]:
import pandas as pd

urlT1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
urlT2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
urlT3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
urlT4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(urlT1)
tienda2 = pd.read_csv(urlT2)
tienda3 = pd.read_csv(urlT3)
tienda4 = pd.read_csv(urlT4)

In [6]:
tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [21]:
#tienda1.shape
#tienda2.shape
tienda3.shape

(2359, 12)

In [22]:
tienda4.shape

(2358, 12)

In [23]:
# EDA para tienda1
df = tienda1.copy()

In [24]:
# Información general
print("Información general:")
print(df.info())
print("\nPrimeras filas:")
print(df.head())
print("\nResumen estadístico:")
print(df.describe(include='all'))

----- INFORMACIÓN GENERAL -----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None

Primeras filas:
            Producto Categoría del Producto    Precio  Costo de envío  \
0  Asistente virtual           Electrónicos  164300.0          6900.0
1    Mesa de comedor                Muebles  192300.0          8400.0
2      Juego de mesa               Juguetes  209600.0         15900.0
3         Microondas      Electrodomésticos  757500.0         41000.0
4   Silla de oficina                Muebles  335200.0         20200.0

  Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
0      16/01/2021      Pedro Gomez          Bogotá             4
1      18/05/2022  Beatriz Morales        Medellín             1
2      15/03/2021   Juan Fernandez       Cartagena             1
3      03/05/2022   Juan Fernandez            Cali             4
4      07/11/2020    Maria Alfonso        Medellín             5

       Método de pago  Cantidad de cuotas       lat       lon
0  Tarjeta de crédito                   8   4.60971 -74.08175
1  Tarjeta de crédito                   4   6.25184 -75.56359
2  Tarjeta de crédito                   1  10.39972 -75.51444
3               Nequi                   1   3.43722 -76.52250
4               Nequi                   1   6.25184 -75.56359

Resumen estadístico:
          Producto Categoría del Producto        Precio  Costo de envío  \
count         2359                   2359  2.359000e+03     2359.000000
unique          51                      8           NaN             NaN
top     Microondas                Muebles           NaN             NaN
freq            60                    465           NaN             NaN
mean           NaN                    NaN  4.878679e+05    26018.609580
std            NaN                    NaN  6.146868e+05    32860.001783
min            NaN                    NaN  7.600000e+03        0.000000
25%            NaN                    NaN  5.575000e+04     3100.000000
50%            NaN                    NaN  2.353000e+05    12400.000000
75%            NaN                    NaN  6.781000e+05    36000.000000
max            NaN                    NaN  2.977000e+06   160800.000000

       Fecha de Compra         Vendedor Lugar de Compra  Calificación  \
count             2359             2359            2359   2359.000000
unique            1018               14              19           NaN
top         15/05/2021  Izabela de León          Bogotá           NaN
freq                 7              197             984           NaN
mean               NaN              NaN             NaN      3.976685
std                NaN              NaN             NaN      1.415370
min                NaN              NaN             NaN      1.000000
25%                NaN              NaN             NaN      3.000000
50%                NaN              NaN             NaN      5.000000
75%                NaN              NaN             NaN      5.000000
max                NaN              NaN             NaN      5.000000

            Método de pago  Cantidad de cuotas          lat          lon
count                 2359         2359.000000  2359.000000  2359.000000
unique                   4                 NaN          NaN          NaN
top     Tarjeta de crédito                 NaN          NaN          NaN
freq                  1704                 NaN          NaN          NaN
mean                   NaN            2.943196     5.365283   -74.789417
std                    NaN            2.819897     2.287445     1.217827
min                    NaN            1.000000    -4.215280   -77.281110
25%                    NaN            1.000000     4.609710   -75.563590
50%                    NaN            1.000000     4.609710   -74.199040
75%                    NaN            4.000000     6.251840   -74.081750
max                    NaN           24.000000    11.544440   -67.923900

In [25]:
# Revisión de valores nulos
print("\n----- VALORES NULOS -----")
print(df.isnull().sum())

----- VALORES NULOS -----
Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

#1. Análisis de facturación

In [47]:
df['Ingreso'] = df['Precio']
df['Ganancia'] = df['Ingreso'] - df['Costo de envío']

# Mostramos las métricas clave
print("----- ANÁLISIS DE FACTURACIÓN - tienda1 -----")
print("Total de transacciones:", len(df))
print("Ingreso total:", round(df['Ingreso'].sum(), 2))
print("Ganancia total estimada:", round(df['Ganancia'].sum(), 2))
print("Costo total de envío:", round(df['Costo de envío'].sum(), 2))
print("Ingreso promedio por venta:", round(df['Ingreso'].mean(), 2))
print("Ganancia promedio por venta:", round(df['Ganancia'].mean(), 2))

----- ANÁLISIS DE FACTURACIÓN - tienda1 -----
Total de transacciones: 2359
Ingreso total: 1150880400.0
Ganancia total estimada: 1089502500.0
Costo total de envío: 61377900.0
Ingreso promedio por venta: 487867.91
Ganancia promedio por venta: 461849.3

----- ANÁLISIS DE FACTURACIÓN - tienda1 -----
Total de transacciones: 2359
Ingreso total: 1150880400.0
Ganancia total estimada: 1089502500.0
Costo total de envío: 61377900.0
Ingreso promedio por venta: 487867.91
Ganancia promedio por venta: 461849.3

----- MÉTRICAS FINANCIERAS -----
Ingreso total: 1150880400.0
Ganancia total estimada: 1089502500.0
Costo de envío total: 61377900.0

# 2. Ventas por categoría

In [37]:
# Calificación promedio
print("\nCalificación promedio de clientes:", df['Calificación'].mean().round(2))

Calificación promedio de clientes: 3.98

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

In [39]:
# Top 5 productos más vendidos
print("\n----- TOP 5 PRODUCTOS MÁS VENDIDOS -----")
print(df['Producto'].value_counts().head())

----- TOP 5 PRODUCTOS MÁS VENDIDOS -----
Producto
Microondas          60
TV LED UHD 4K       60
Armario             60
Secadora de ropa    58
Mesa de noche       56
Name: count, dtype: int64

# 5. Envío promedio por tienda